When: Jul 27th - 29th
Where: 
http://www.allseasonsvacationrents.com/Unit.mvc/Details/39403
http://www.allseasonsvacationrents.com/Unit.mvc/Details/58472
Why: Higgins Twins 30th Birthday
Price: 
  <div>$50 for one outdoor tent and up to two individuals.</div>
  <div class="or">OR</div>
  <div>$50 for one bed inside.</div>