<div id="splash">
  <h1>30th Birthday</h1>
  <div class="presents">
    a celebration presented by
    <span>Jason &amp; Matthew Higgins</span>
  </div>

  <div id="video">
    <object width="800" height="452">
      <param name="movie" value="http://www.youtube.com/v/3fG-NY5METc&autoplay=1&controls=0&showinfo=0"></param>
      <embed src="http://www.youtube.com/v/3fG-NY5METc&autoplay=1&controls=0&showinfo=0" type="application/x-shockwave-flash" width="800" height="452"></embed>
    </object>
  </div>

  <div id="skip">
    <%= link_to 'Skip to Information »', action: 'info' %>
  </div>  
</div>

<script>
setTimeout(function() {
  window.location = '/info'
}, 161000);
</script>