#info {
  #header {
    width: 750px;
    margin: 0 auto;

    h1 {
      color: white;
      font-size: 60px;
      margin: 0;
      padding: 15px 0 10px 0;
    }
    h2 {
      color: white;
      font-size: 20px;
      margin: 0;
      padding: 0 0 15px 0;
    }
  }

  #wrap {
    background-color: #F0F0F0;
  }

  section {
    font-size: 15px;
    margin: 0 auto;
    padding: 10px 0 30px 0;
    width: 700px;

    h1 {
      font-size: 20px;
      margin: 0;
      padding: 15px 0 6px 0;
    }

    p {
      margin: 0;
      overflow: hidden;
      padding: 8px 0;
    }

    ul {
      margin: 0 0 0 10px;
      padding: 0;
    }

    li {
      list-style-position: inside;
      margin: 0;
      padding: 3px 0;

      &.or {
        list-style-type: none;
        padding-left: 10px;
      }
    }
  }
  
  #images {
    img {
      padding: 3px;
    }
    margin-top: 10px;
  }
}